<div class="ui card user" id="{{_id}}">
    <a class="image" href="/user/{{_id}}">
        {{#if image.data}}
            <img src="data:{{image.contentType}};base64,{{image.data}}">
        {{else}}
            <img src="http://semantic-ui.com/images/wireframe/image.png">
        {{/if}}
    </a>
    <div class="content">
        {{> deletelabel itemType="user"}}
        <a class="header" href="/user/{{_id}}">{{name}}</a>
        <div class="meta">
            <span class="date">Joined in 2013</span>
        </div>
        <div class="description">
            {{bio}}
        </div>
    </div>
    <div class="extra content">
        <i class="comments icon"></i>
        22 Babbles
        {{#if showFollow }}
            <a class="ui top left attached teal label follow">
                <i class="plus icon"></i> follow
            </a>
        {{/if}}
        {{#if showUnfollow }}
            <a class="ui top left attached grey label unfollow">
                <i class="minus icon"></i> unfollow
            </a>
        {{/if}}
    </div>

</div>