{{> usermenu _id="settings"}}
<div class="displace20">
  <div class="ui stackable relaxed grid container">
    <div class="ui five wide column">
      <div class="ui card">
        <div class="image">
          <img src="http://semantic-ui.com/images/avatar2/large/kristy.png">
        </div>
        <div class="content">
          <a class="header">{{user.name}}</a>
          <div class="meta">
            <span class="date">Joined in 2013</span>
          </div>
          <div class="description">
            {{user.bio}}
          </div>
        </div>
      </div>
    </div>
    <div class="ui five wide column">
      <form class="ui form segment" action="/settings" method="POST">
        <h3 class="ui header">About me</h3>
        <div class="field">
          <label>Name</label>
          <input value="{{user.name}}" type="text" name="name">
        </div>
        <div class="field">
          <label>Bio</label>
          <input value="{{user.bio}}" type="text" name="bio">
        </div>
        <button class="ui blue submit button">Save</button>
      </form>
    </div>
    <div class="ui five wide column">
      <form class="ui form segment" action="/settings" method="POST">
        <h3 class="ui header">Account details</h3>
        <div class="field">
          <label>Email</label>
          <input value="{{user.email}}" type="text" name="email">
        </div>
        <div class="field">
          <label>Password</label>
          <input value="{{user.password}}" type="password" name="password">
        </div>
        <button class="ui blue submit button">Save</button>
      </form>
    </div>
  </div>
</div>
